<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>




<%= form_tag("/heroines", method: "get") do %>
  <%= label_tag(:id, "Search for:") %>
  <%= text_field_tag(:id) %>
  <%= submit_tag("Search") %>
 <% end %>

 <%  @powers.each do |p|%>
  <% p.heroines.each do |h| %>
  <li><%= h.name %></li>
  <% end %> 
  <% end %>






